.git
.github
node_modules
.next
*.md
.env*
npm-debug.log*
.dockerignore
Dockerfile
.eslintrc*
.prettier*
.editorconfig
*.log
temp
.DS_Store
captain-definition
.envrc
build-local.sh
caprover-deploy.sh
